# Google Apps Script 웹앱 URL
# Vercel 대시보드 > Settings > Environment Variables 에 추가하세요
APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycby6947UGKTeOd2dItIMCSVK-yuJvV9cO9xzBXEd0Cidxp1wPBBW7a5AOTa1mxzSYVyK1g/exec
SUPABASE_URL=https://bkfurueejzvobgpgrgfa.supabase.co
SUPABASE_ANON_KEY=sb_publishable_ck5PijlA28cpMSJk4SrwBQ_all48RAm
